---
---

@import "{{ site.theme }}";

/* Target the specific title link */
a#a-title {
    color: #0ce4f9 !important;
}
  
/* In case the styling is applied to child elements */
a#a-title * {
    color: #0ce4f9 !important;
}

header {
    background: rgba(0, 0, 0, 0.1);
    width: 90%;
    border-bottom: 1px dashed #C8AA6E;
    padding: 10px 0;
    margin: 0 0 40px 0;
}

header h2 {
    font-size: 18px;
    font-weight: 300;
    color: #eaeaea;
}

h1, h2, h3, h4, h5, h6 {
    color: #0ce4f9; /* Cyan blue color - adjust the hex code as needed */
}

a {
    color: #0ce4f9; /* This will change link colors to match */
}

/* Change horizontal rule color */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #F0E6D2;
    margin: 1em 0;
    padding: 0;
}

body {
    background: #010A13
}